.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
   
}
img{
     width: 450px;
    height:450px;

}
h2{
    border: 4px solid rebeccapurple;
    margin-right: 300px;
    margin-left: 300px;
    border-radius: 10px;
    padding: 10px;
    background-image: url(https://png.pngtree.com/background/20250102/original/pngtree-vivid-abstract-texture-a-burst-of-colorful-background-picture-image_15292555.jpg);
    background-position: 9px;
    font-family: algerian;
    text-align: center;
    font-size: 50px;

}