.content{
    border: 4px ;
    display: inline-block;
    text-align: left;
    padding-right: 40pc;
    margin-bottom: 40px;
}

#btn1{
    margin-right: 40px;
    margin-left: 10px;
}

button{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #ee7676;
    
}

button:hover{
    padding: 10px;
    border-radius: 5px;
    color: rgb(34, 27, 27);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

body{
    background-image: url(https://thumbs.dreamstime.com/b/light-pink-background-floral-border-right-side-creating-elegant-romantic-atmosphere-wedding-cards-410885944.jpg);
    background-size:cover;
}

ul{
    display: flex;
    text-align: center;
    list-style: none;
}

li{
    margin-left: 20px;
    margin-bottom: 20px;
    
}

a{
    text-decoration: none;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}